@for (article of results; track trackByFn($index, article)) {
  <app-article-preview
    [article]="article">
  </app-article-preview>
}


@if (loading) {
  <div class="app-article-preview">
    Loading articles...
  </div>
} @else if (!results.length) {
  <div class="app-article-preview">
    No articles are here... yet.
  </div>
} @else {
  <nav [hidden]="loading || totalPages.length <= 1">
    <ul class="pagination">

      @for (pageNumber of totalPages; track trackByFn($index, pageNumber)) {
        <li class="page-item"
          [ngClass]="{'active': pageNumber === currentPage}"
          (click)="setPageTo(pageNumber)">
          <a class="page-link" >{{ pageNumber }}</a>
        </li>
      }

    </ul>
  </nav>
}
